html,
body {
    background-color: #ffffff;
    color:#434455;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
}
.menu {
    background-color: #ffffff;
    font-weight: 500;
    
}
.logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;

}
.logo-web {
    color:#2e2f42;
}

.main-page-text-container {
    background-color: #2E2F42;
    text-align: center;
}

h1 {
    color: #ffffff;
    font-size: 56px;
    line-height: 1.0714;
    font-weight: bold;

}

h2 {
    font-size: 36px;
    font-weight: bold;
}

h3 {
    font-size: 20px;
    font-weight: medium;
}

.button {

    background-color: #4D5AE5;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
}

.button:hover {
    background-color: #404bbf;
}

.list-of-benefits {
    text-align: center;
}

.list-of-benefits li {
    text-align: left;
}

.our-team {
    background-color: #F4F4FD;
    text-align: center;
    
}

h2 {
    color: #2E2F42;
    font-size: 36px;
}

.our-team-list li {
    text-align: center;
    background-color: #ffffff;
}

.portaolio-conteiner {
    text-align: center;
}

.portaolio-conteiner li {
    background-color: #ffffff;
    text-align: left;

}
.site-info {
    background-color: #2E2F42;
}